<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ids</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
		<string>16</string>
		<string>17</string>
		<string>18</string>
		<string>19</string>
		<string>20</string>
		<string>21</string>
		<string>22</string>
		<string>23</string>
		<string>24</string>
		<string>25</string>
		<string>26</string>
		<string>27</string>
		<string>28</string>
		<string>29</string>
		<string>30</string>
		<string>31</string>
		<string>32</string>
		<string>33</string>
		<string>34</string>
		<string>35</string>
		<string>36</string>
		<string>37</string>
		<string>38</string>
		<string>39</string>
		<string>40</string>
		<string>41</string>
		<string>42</string>
		<string>43</string>
		<string>44</string>
		<string>45</string>
		<string>46</string>
		<string>47</string>
		<string>48</string>
		<string>49</string>
	</array>
	<key>titles</key>
	<array>
		<string>以“众”之力，护他成长

 

众筹小博文腿部治疗手术费</string>
		<string>你确定你真知道社会化营销如何做？</string>
		<string>关于社会化营销的做法。</string>
		<string>买光超市的王老吉 上一罐买一罐；送礼还送脑白金；</string>
		<string>谁都希望自己是最优秀的，哪怕是在自己一个人读文章的时候！</string>
		<string>是优秀的营销人，你必然不会错过的文章！</string>
		<string>为什么众筹是一种高效的营销方法呢？</string>
		<string>营销费用不知道花哪里了，这里有答案；社会化营销不好操作，这里有答案；</string>
		<string>乌镇世界互联网大会中学到出的创意营销方法；</string>
		<string>执行这个行动，让产品的转化率提升七倍</string>
		<string>传统企业们，运营新媒体现在还不晚；</string>
		<string>你从没有读过的关于微信营销的操作方法；</string>
		<string>口碑营销，是这样子具体操作的……</string>
		<string>进军自媒体，是当下唯一的转型机会；</string>
		<string>微信服务号开发，已经从困难变容易。</string>
		<string>视频营销的九个操作注意事项；</string>
		<string>只要传统营销费用的一半，就能达到效果的营销方法；</string>
		<string>一篇文章让你的产品销量得到“爆炸性”提升；</string>
		<string>超过1千家客户的合作证明，我们的能力是业界最优秀的</string>
		<string>你必须要掌握的营销技巧，和你想象的完全不一样；</string>
		<string>揭露社会化营销中的不为人知的潜规则；</string>
		<string>三个月微信粉丝增加一万，是怎么做到的？</string>
		<string>读一篇文章，获得工作一个月积累的经验！</string>
		<string>文笔不好，也能写出优秀的文章；</string>
		<string>还在花钱上培训课，看这里的免费实战案例更靠谱；</string>
		<string>你现在的营销能力适合一年后的社会吗？</string>
		<string>效果提升一倍，费用减少一半，否则退款；</string>
		<string>靠“内线交易”致富，而且完全合法！</string>
		<string>你的营销活动没有效果，你知道为什么吗？</string>
		<string>帮助您策划出突破性的营销计划！</string>
		<string>不可思议，做半年微商，赚100万。</string>
		<string>成为年薪40万的市场总监，离你一点都不远！

</string>
		<string>中国网络营销培训七宗罪；</string>
		<string>成为最具权威的成功人士交流平台。</string>
		<string>978酒坊在全国9省19市已经遍地开花</string>
		<string>中国人毁了非洲孩子的未来</string>
		<string>幼师：快30岁还没男人爱</string>
		<string>起床后，肉体饥渴最需要什么</string>
		<string>男人最爱的那支枪</string>
		<string>一个广告人的自白</string>
		<string>每天积累三个小标题</string>
		<string>7页ppt 教你秒懂互联网文案</string>
		<string>成为地方型门户新媒体主编，面试官只问了我4个问题</string>
		<string>坚持这10个习惯，也彻底告别又懒又穷，从失业到年薪百万</string>
		<string>15万奖励！不考试直接公务员身份，月薪1万2至9千6，年休假70天</string>
		<string>3000月薪与30000月薪的文案的区别</string>
		<string>范雨素和我有什么关系？ </string>
		<string>90后，为什么我不聘用你？</string>
		<string>《青蛇》《胭脂扣》《霸王别姬》，她写尽人间情事的诡异妖娆，却说自己是个普通人。</string>
		<string>挑剔的阿里竟然在使用长芯盛延长器，这名不见经传的公司什么来历！</string>
	</array>
	<key>descripts</key>
	<array>
		<string>沟通从荷尔蒙开始。</string>
		<string>爱我，就假装你能喝得出来</string>
		<string>关爱点菜困难症协会。</string>
		<string>一个会认五十种颜色的运动品牌。</string>
		<string>看不懂电影人士的避难所。</string>
		<string>坚持做到业绩下滑。</string>
		<string>靠咨询公司活下去。</string>
		<string>谁的红包，发得过我？</string>
		<string>我们卖广告，顺便选歌手。</string>
		<string>契丹人如今是我爹。</string>
		<string>与世界分享你的“如何评价”、“什么体验”和一句话毒舌。</string>
		<string>司机都不认识路。</string>
		<string>一个神奇的，买之前忍不住在心里大喊一句名字的网站。</string>
		<string>萬聖節百事可樂廣告：We wish you a scary Halloween（祝福你有恐怖的萬聖節）！
可口可樂對此回應，使用了同樣的畫面，文案更改為：Everybody wants to be a hero （每個凡人都渴望成為英雄）</string>
		<string>18岁前看不懂的一个广告。
真是抓住了男人，抓住了女人，又隐晦地避开了小孩儿的好广告。</string>
		<string>该回答最开始出现在知乎另一个同类型问题下，看到这个题觉得也很适合作答，即使过了这么久，这些经典文案依旧让人感到惊艳！</string>
		<string>如果你问我，这世界上最重要的一部车是什么？那绝不是你在路上能看到的。30年前，我5岁，那一夜，我发高烧，村里没有医院。爸爸背着我，走出山，越过水，从村里到医院。爸爸的汗水，湿遍了整个肩膀。我觉得，这世界上最重要的一部车是——爸爸的肩膀。今天，我买了一部车，我第一个想说的是：“阿爸，我载你来走走，好吗？”
</string>
		<string>印象中，爸爸的车子很多，大概七八十部吧。我爸爸没什么钱，他常说：“买不起真车，只好买假的。我这辈子只能玩这种车罗！”经过多年努力，我告诉爸爸，从今天起，我们玩真的。爸爸看到车后，还是一样东摸摸、西摸摸，他居然对我说：“我这辈子只能玩假的，你却买真的！”爸，你养我这么多年不是假的，我一直想给你最真的。
</string>
		<string>如果有有一天我不能再跑，你是否愿意帮我跑下去？</string>
		<string>如果我无法到达终点，你是否愿意带我前行？</string>
		<string>如果你不能说话，我愿替你发声</string>
		<string>如果有一天你悲伤哭泣，我愿陪你在身旁</string>
		<string>如果下一秒即将射门，你是否愿意竭尽全力？</string>
		<string>如果我问你听到什么，你是否能感受到我的心声？</string>
		<string>如果这是一个国家的未来，你是否愿意让他酣睡？</string>
		<string>如果我的身体无法承载梦想，你是否愿意借我双臂？</string>
		<string>如果我已词穷语尽，你是否愿意与我一起……即使一言不发？</string>
		<string>如果有一天我的理想被风雨淋湿
你是否愿意回头扶我一把？
如果有一天我无力前行
你是否愿意陪我一个温暖的午后？
如果我问你什么
你是否想到妈妈梦中的惊起？
如果那是一个你不熟悉的家
你会不会把善良当作路牌？
如果这是一个国家的未来
你是否让他酣睡，不再彷徨</string>
		<string>我们公司的鲑鱼没有必要添加油料以增其汁味。因为它们都是特别肥大的鲑鱼。这些健康的鲑鱼，每年溯游到菩提山之北的长长河川。如果我们在蓝碧河选不出理想的鲑鱼怎么办？我们会耐心地等到明年。为什么？因为如果不是完美的，不会被SW装入罐头。</string>
		<string>（画面为一颗豆子经过重重检查进入罐头，正文的每一句话，对应一个检查程序）这是叫做“完美”的特别品种在西部广阔丰沃的土壤中育成在它非常鲜嫩时就要采摘它外皮的柔软度要经过测试它的成熟度要用我们的圆熟度计来证明它如砂糖般的甜美要由我们的老手亲尝当它在这些方面都无懈可击，这粒豆子才能获得SW的标签。（这是无上的责任）当然，如果它不是完美的，就不会被SW装入罐头。
</string>
		<string>画面为一只大的饮料杯中装着几只番茄）我们把炖菜用的番茄和饮用番茄区分开来。不少优秀的罐头业者，从收获的番茄里，选出较好的做菜用番茄，剩下的才拿去制番茄汁。这是很实际的做法。我们的做法就不太讲究实际。我们把加州番茄当作制汁用番茄来种植，一直等番茄长到柔软甜美，汁液饱满。这是旷日持久、耗费金钱的做法。但这也是SW的方针。我们认为，这是把完美的制汁用番茄制成完美的番茄汁的唯一做法。它若非完美，就不会被SW装入罐头。
</string>
		<string>（画面为一位渔夫惋惜地看着一条被吊起来即将放生的大鱼）小金枪鱼，简直就像小羊、小豆子、嫩玉米粒一样柔嫩。因此，SW绝不用大金枪鱼制作罐头。您把SW的罐头打开，一定会发现里面是多汁的小金枪鱼。那如果捕到的都是大鱼呢？很简单，SW就不把它装罐。为什么？因为，如果是不完美的，就不会被SW装入罐头。
</string>
		<string>卡缪搬家了。马奎斯搬家了。卡尔维诺搬家了。莫内搬家了。林布阑搬家了。毕卡索搬家了。瑞典KOSTA BODA 彩色玻璃搬家了。英国WEDGWOOD骨瓷搬家了。法国HEDIARD咖啡搬家了。金耳扣大大小小的娃娃也要跟着人一起搬家了。一九九五年十月一日诚品敦南店搬家。
</string>
		<string>离开会议发现安静的快乐，离开策略发现创意的快乐，离开同事发现和平的快乐，离开权利发现安全的快乐，离开网络发现无知的快乐，离开键盘发现书写的快乐，离开饭局发现美食的快乐，离开办公室发现新况味的快乐。美食·咖啡·彩妆·饰品·书店……发现南京东路的新况味。十月十二日，诚品南京店全面开幕。
</string>
		<string>亚当阅读夏娃，找到上帝创世纪中不存在的秘密花园；罗丹阅读卡密儿，发现哥伦布没有发现的漂亮海岸线；沙特阅读西蒙波娃，发现一本不是用荷尔蒙书写的爱情白皮书；罗密欧阅读朱丽叶，相信爱情不能得永生，但比任何事情都值得去殉教；爱情难求，情“书”唾手可得，今年情人节唯一可以取代玫瑰和巧克力的示爱品。二月三日至二月二十九日全省五家诚品书店浪漫展出。
</string>
		<string>一只竹笔沾了尼罗河的水，填满了埃及的历史哀荣。一只钢笔沾了日夜思念的泪水，写成了阿伯拉与哀绿绮斯的情书。一只彩笔沾了大溪地的水，画出了高更的原始野性。笔因气候而有情绪，人因情绪而有灵感，笔因灵感而有生命，在每张白纸的童贞面前，百枝有年份、有来历、有气味、有流传的古董笔，更显珍贵。六月十五日-六月三十日诚品敦南店古董笔特展，邀请你重温握笔的感动。
</string>
		<string>在广大的知识页岩中，提供您最期待的矿源。
文字零国界，资讯零时差
诚品书店——最广域的书香，交换你的品味</string>
		<string>签约用的笔，
写情书用的纸……
格式的书房文具展示区，
是您眷恋生活的精品空间。</string>
		<string>食物恋的起源，
三角形的味觉地图，
在这个小小的世界上，
唯一能唤醒您的只是
一种简单却独特的味道。</string>
		<string>品时工业下生活提案空间，保留创意最盛期，与您重质不重量的相处。</string>
		<string>创意自治，艺术自立门户，您灵感的潜意识层，现在出土。</string>
		<string>9998个人打开过咖啡店的门，8778个人参与了流行阴谋，6006个人走进了文化苦旅，5959个人知道了台湾赏树情报，1001个人使用过香水，999个人目击到戴眼镜的女孩……对书的100种偏见，来诚品的100个理由。
</string>
		<string>书店一九九五年度书籍排行榜，请您前来清算文化账目，告解您的偏好！对无农药的绿色蔬菜一向偏食，对红裙短发的女孩一向偏心，对德制的BMW双门跑车一向偏好，对留山羊胡的牡羊座男人一向偏爱。每个人心目中都有一本无可取代的书。正因为每个人都有自己的偏见，异中求同，诚品书店TOP 100排行榜书展，便成为台湾菁英趋向的年度文化指标。
</string>
		<string>65种语言消失；科学家发现了12866颗小行星；地球上出生了3亿人；热带雨林减少了6070000平方公里；元首们签署了6035项外交备忘录；互联网用户增长了270倍；5670003只流浪狗找到了家；乔丹3次复出；96354426对男女结婚；25457998对男女离婚；人们喝掉了7000000000000罐碳酸饮料，平均体重增加15%。我们养育了一瓶好酒。
</string>
		<string>三毫米，瓶壁外面到里面的距离，一颗葡萄到一瓶好酒之间的距离。不是每颗葡萄，都有资格踏上这三毫米的旅程。它必是葡园中的贵族占据区区几平方公里的沙烁土地坡地的方位像为它精心计量过，刚好能迎上远道而来的季风。它小时候，没遇到一场霜冻和冷雨旺盛的青春期，碰上了十几年最好的太阳临近成熟，没有雨水冲淡它酝酿已久的糖份甚至山雀也从未打它的主意。摘了三十五年葡萄的老工人，耐心地等到糖份和酸度完全平衡的一刻才把它摘下酒庄里最德高望重的酿酒师，每个环节都要亲手控制，小心翼翼。而现在，一切光环都被隔绝在外。黑暗、潮湿的地窖里，葡萄要完成最后三毫米的推进。天堂并非遥不可及，再走十年而已。
</string>
		<string>上帝一定也爱葡萄酒给了我们与别处不同的阳光与土壤在堪与波尔多比肩的葡萄产地阳光善解人意，气温恰到好处675ml的平均降水不多不少仿佛上天用量杯悉心测过当然还有排水优良的砂质土壤在输送充足养料的同时亦不会影响葡萄的甜度如此的天赋条件才生长出颜色与味道俱佳的葡萄摇身化作了独具灵性的葡萄美酒长城葡萄酒不但源自享誉世界的黄金产地更出自有时间为证的酿造经验和独具一格的储藏工艺让好酒之间没有距离，只有共同的酒香
</string>
		<string>不用怀疑在地下10公尺的恒温地窖就是爱酒人的天堂无数饱满多汁的葡萄经过榨汁，去梗，提纯，过滤的多重工序后才有资格在古朴而昂贵的橡木桶里脱胎，换骨，发酵，酝酿在这漫长的等待中他们都坚信着地窖入口镌刻的格言没经过地窖就到不了天堂长城葡萄酒不但出自独具一格的贮藏工艺更源于享誉世界的黄金产地和有时间为证的酿造经验让好酒之间没有距离只有共同的酒香和天道酬勤的欣慰和喜悦
</string>
		<string>一辆崭新的大众轿车值1595美元。并不是像你听说的那么便宜。如果磅数相等，一辆大众轿车的价格可能超过你能说出的任何牌子的汽车。实际上，当你观察大众轿车的内部时，你就不会对这样的价格感到意外了。并没有多少汽车像大众这样在自己的内部装很多东西。光是手工就很明显。大众的引擎是手工装配起来的。一个零件接一个零件。每一台引擎都要测试两次，一次在它还是一台引擎时，另一次在它成为整车的一部分后。一辆大众要途四遍油漆，每次油漆之间都要用手持砂纸将表面磨光。甚至车顶材料也是手工填装的。你不会在任何地方发现一个裂口、一道凹陷或一团胶水糊。因为如果必要，大众会为一个小小的细节而拒绝让整部车出厂。因此当你以磅计算大众轿车时，就会知道它为什么如此之贵。这是值得考虑的事情。尤其假如你因为它的价格还不够高而还没买它时。
</string>
		<string>因为去美国读书，走的时候大哥给金毛取名「小布什」。几年一晃而过。那边的小布什下台了，我家的小布什却大的不敢认了。原以为，它会冲我汪汪，没想到它不吭声。我才站稳，它就围着我绕。蹭的我满身都是激动的雨水。可那眼神，亲切的还和以前一模一样。小布什——你不是在流泪吧？
</string>
		<string>妈妈一直都爱美，一年里有好多日子都会制新装。可能，穿什么衣服做什么，就是她的一种仪式。我这出去几年回来，肯定也成了她的又一个节日。当然，MSN里妈妈告诉我，一大家子刚刚搬进了棠樾国宅。大哥二哥和我们，各得其所的户型，回家岂止是双喜啊。妈妈，我懂你的心思，房子不同了——心还是一样的对吗？
</string>
	</array>
	<key>names</key>
	<array>
		<string>亚森</string>
		<string>背负怪</string>
		<string>高等皮克西</string>
		<string>伊邪纳岐</string>
		<string>俄耳甫斯</string>
		<string>单卡拉比</string>
		<string>恶灵军团</string>
		<string>欧赛</string>
		<string>Bugs</string>
		<string>水晶骷髅</string>
		<string>狄俄尼索斯</string>
		<string>邪恶霜精</string>
		<string>毗湿奴</string>
		<string>撒旦耶尔</string>
		<string>杰克灯笼ン</string>
		<string>杰克霜精</string>
		<string>猫怪</string>
		<string>睡魔</string>
		<string>克伦佐</string>
		<string>妖精女王</string>
		<string>兰达</string>
		<string>斯尔特</string>
		<string>经津主</string>
		<string>希路奇</string>
		<string>飞天</string>
		<string>柯·伊·诺尔</string>
		<string>伊西丝</string>
		<string>菊理媛</string>
		<string>斯卡哈</string>
		<string>妙音天女</string>
		<string>丝卡蒂</string>
		<string>西布莉</string>
		<string>母夜叉</string>
		<string>拉弥亚</string>
		<string>诃梨帝母</string>
		<string>茶枳尼</string>
		<string>蒂坦妮亚</string>
		<string>迦梨</string>
		<string>巴比伦大荡妇</string>
		<string>摄政者</string>
		<string>埃力格</string>
		<string>瑟斯特</string>
		<string>图特</string>
		<string>大国主</string>
		<string>巴隆</string>
		<string>霜精之王</string>
		<string>奥伯隆</string>
		<string>巴尔</string>
		<string>奥丁</string>
		<string>比列</string>
		<string>欧若博司</string>
		<string>凤凰</string>
		<string>安祖</string>
		<string>独角兽</string>
		<string>大僧正</string>
		<string>佛钮司</string>
		<string>昆沙门天</string>
		<string>黄龙</string>
		<string>皮克希</string>
		<string>幸魂</string>
		<string>菈南希</string>
		<string>天钿女命</string>
		<string>奇稻田姬</string>
		<string>纳西瑟斯</string>
		<string>帕尔瓦蒂</string>
		<string>拉斐尔</string>
		<string>伊丝塔</string>
	</array>
	<key>photos</key>
	<array>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3950028239,2497327107&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3467802516,3180003429&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3115688238,3051384815&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3896296464,4273750789&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1811457400,1412920344&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1788705557,669200149&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2095807035,495047869&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2817602552,2886765958&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4204473876,3868286801&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2183740547,2412529109&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=848233399,609023395&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3372131402,3079707997&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3458019669,1068439850&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1916250222,309759298&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4084628250,558005423&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=602654916,741501977&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2668913707,332219796&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1095860655,2020069141&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2517790431,2796473471&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3381146714,2496287773&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4073427370,487361970&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2935851565,4100483115&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2840104259,3377389729&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=843317495,456431923&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=4130523934,2683922624&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4099706750,3253971371&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4202999563,2452815770&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3652839969,2526397191&amp;fm=200&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2069423848,1745692628&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3232142381,2724876043&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2337557546,3853217561&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3976060625,2318912605&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4215741910,1875381461&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1321076716,3096122826&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=451006092,2722988730&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2171073523,1991282945&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1665207864,746409922&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2644124456,1222741308&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=104961686,3757525983&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=569334953,1638673400&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3565185884,2248353566&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3430625942,2154503364&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=398952501,2656845064&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3734095846,3009742410&amp;fm=200&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4080833725,2827278465&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=500808421,1575925585&amp;fm=200&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2043305675,3979419376&amp;fm=200&amp;gp=0.jpg</string>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2826151633,3148962855&amp;fm=200&amp;gp=0.jpg</string>
		<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2137958015,4291978384&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=862591842,2864954084&amp;fm=27&amp;gp=0.jpg</string>
	</array>
</dict>
</plist>
